.card {
    transition: 0.3s;
    position: relative;
    height: 200px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.faces{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: orange;
	backface-visibility: hidden;
	transition: 1s;
}

.back{
	transform: rotateY(-180deg);
}

.card:hover .front{
    transform: rotateY(180deg);
}

.card:hover .back{
    transform: rotateY(0deg);
}
